.App {
  text-align: start;
  padding: 48px;
  background-color:rgba(43, 41, 41, 0.557);
  font-size: large;
}
#img {
  height: 300px;
  width: 60%;
  text-align: center;
}

#book {
  display: flex;
  flex-direction:column;
  padding: 48px;
  align-items:center;
}

.book {
  box-shadow: 0 4px 16px 0 rgba(114, 55, 89, 0.943);
  border-radius: 30px;
  height: 550px;
  width: 450px;
  margin: 48px;
  background-color:rgb(188, 158, 103);
}

#book-info {
  text-align: left;
  padding-top: 24px;
  padding-bottom:  24px;
  text-align: start;
}

#list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
    background-color: rgb(188, 158, 103);
    height: 50px;
    width: 100px; 
    font-size: large;
    font-weight: bold;    
    border-radius: 20px;
}
.button2 {
  background-color: white;
  height: 50px;
  width: 100px; 
  font-size: large;
  font-weight: bold;     
  border-radius: 20px;
}

#button {
  background-color: white;
  height: 50px;
  width: 100px; 
  font-size: large;
  font-weight: bold;     
  border-radius: 20px;
  margin: 36px;
}

#button2 {
  background-color: rgb(188, 158, 103);
    height: 40px;
    width: 90px; 
    font-size: large;
    font-weight: bold;    
    border-radius: 20px;
    margin: 24px;
}

#author {
  height: 40px;
  width: 500px; 
  margin: 24px ;
  font-size: large;
}

#input-title {
  font-size: large;
}

.h1 {
  font-size: xx-large;
}

#img-basket {
  height: 70px;
  width: 50px;
  padding-right: 24px;
}

#basket-item {
  display: flex;
  flex-direction: row;
  align-items:center;
}

#searching-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}